<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <p>
        <a href="{% url 'create_task' %}">Create Task</a>
        </p>
</head>

<body>
    <main>
        <div>
            <h1>{{ show_project.name }}</h1>
            <p>{{ project.description }}</p>
            <h2>Tasks</h2>
            

            {% if not show_project.tasks.all %}
            <p>This project has no tasks</p>
            {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in show_project.tasks.all %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.assignee }}</td>
                        <td>{{ task.start_date }}</td>
                        <td>{{ task.due_date}}</td>
                        <td>{{ value|yesno:"yes,no" }}</td>


                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </main>
</body>

</html>